<div class="row flex-nowrap">
  <div class="col-auto col-md-0 col-xl-0 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      <button class="btn btn-dark d-block d-sm-none mb-3" type="button" data-bs-toggle="collapse"
        data-bs-target="#menuCollapse" aria-expanded="false" aria-controls="menuCollapse">
        <i class="bi bi-list fs-4"></i>
      </button>
      <div class="collapse d-sm-block" id="menuCollapse">
        <ul class="nav flex-column align-items-start" id="menu">
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="bi bi-speedometer2 fs-4"></i>
              <span class="ms-1">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'veiculo_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-columns fs-4"></i>
              <span class="ms-1">Veículos</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="bi bi-newspaper fs-4"></i>
              <span class="ms-1">Notícias</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="bi bi-journal-bookmark fs-4"></i>
              <span class="ms-1">Assinaturas</span>
            </a>
          </li>
          <li>
            <a href="{% url 'cliente_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-person fs-4"></i>
              <span class="ms-1">Clientes</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="bi bi-building fs-4"></i>
              <span class="ms-1">Empresas</span>
            </a>
          </li>
        </ul>
      </div>
      <hr>
    </div>
  </div>
</div>
