{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Deletar Empresa</h3>

    <div class="card shadow-sm">
        <div class="card-body">
            <p>Tem certeza de que deseja deletar a empresa <strong>{{ object.nome }}</strong>?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash"></i> Confirmar Exclusão
                </button>
                <a href="{% url 'empresa_list' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Cancelar
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
