{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Detalhes do Cliente</h3>

    <div class="card shadow-sm">
        <div class="card-body">
            <!-- Informações principais do cliente -->
            <h5 class="card-title text-primary">{{ object.razao_social }}</h5>
            <p class="card-text"><strong>CNPJ/CPF:</strong> {{ object.cnpj_cpf }}</p>
            <p class="card-text"><strong>Inscrição Estadual:</strong> {{ object.inscricao_estadual|default:"Não informado" }}</p>
            <p class="card-text"><strong>Inscrição Municipal:</strong> {{ object.inscricao_municipal|default:"Não informado" }}</p>
            <p class="card-text"><strong>Contato Principal:</strong> {{ object.contato_1 }}</p>
            <p class="card-text"><strong>Contato Secundário:</strong> {{ object.contato_2|default:"Não informado" }}</p>
            <p class="card-text"><strong>E-mail:</strong> <a href="mailto:{{ object.email }}">{{ object.email }}</a></p>

            <!-- Informações do endereço -->
            <hr>
            <h6 class="text-secondary">Endereço</h6>
            <p class="card-text"><strong>Logradouro:</strong> {{ object.logradouro }}</p>
            <p class="card-text"><strong>Número:</strong> {{ object.numero }}</p>
            <p class="card-text"><strong>Complemento:</strong> {{ object.complemento|default:"Não informado" }}</p>
            <p class="card-text"><strong>Bairro:</strong> {{ object.bairro }}</p>
            <p class="card-text"><strong>CEP:</strong> {{ object.cep }}</p>
            <p class="card-text"><strong>Cidade:</strong> {{ object.cidade|default:"Não informado" }}</p>
            <p class="card-text"><strong>UF:</strong> {{ object.UF }}</p>
            <p class="card-text"><strong>País:</strong> {{ object.pais }}</p>
        </div>
    </div>
    <a href="{% url 'cliente_list' %}" class="btn btn-secondary mt-3">
        <i class="bi bi-arrow-left"></i> Voltar para Lista de Clientes
    </a>
</div>

{% endblock %}
